body {
  margin: 0;
  background: darkgrey;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#verticalButtons {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  border-radius: 5px;
  padding: 6px;
  margin: 2px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background: skyblue;
}

#networkCanvas {
  background: black;
}

#carCanvas {
  background: lightgrey;
}
